---
import TranslucidCard from "@components/TranslucidCard.astro";
import SectionLayout from "@layouts/SectionLayout.astro";
import type { ProjectFrontmatter } from "@types";
import { sortElementsByDate } from "@utils";

let projects = await Astro.glob<ProjectFrontmatter>(
  "../../pages/projects/*.md"
);
const lastProject = sortElementsByDate(projects)[0];
const projectContent = lastProject.compiledContent();
const firstParagraph = projectContent
  .substring(0, projectContent.indexOf("</p>"))
  .replace(/<p>/g, "");
---

<SectionLayout id="last-project" title="Last Project" sableColor="#3CFF5B">
  <div class="last-project-container">
    <p class="description">
      The last finished project I have done. Small projects and tests will be in
      my <a href="https://github.com/jesus-molano/">Github</a> if you are interested.
    </p>
    <TranslucidCard>
      <div class="project-detail">
        <h3 class="project-title">{lastProject.frontmatter.title}</h3>
        <div class="project-texts">
          <p>{firstParagraph}</p>
          <a href={lastProject.url} class="project-link">See details</a>
        </div>
        <img
        src={lastProject.frontmatter.image}
        alt="Last project image"
        width="224"
        height="145"
        loading="lazy"
        />
      </div>
      <img class='deathstar' src="/images/deathstar.svg" alt="deathstar">
    </TranslucidCard>
    <a href="/projects" class="go-all-projects">Go to all projects</a>
  </div>
</SectionLayout>

<style lang="scss">
  .last-project-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    .project-title {
      position: absolute;
      top: -2.5rem;
    }

    a {
      font-weight: 900;
      color: var(--color-primary);
      text-decoration: none;
    }
    .project-detail {
      position: relative;
      align-self: center;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      color: var(--color-text);
      font-weight: 700;
      padding: 1rem;

      h3 {
        font-size: 1.5rem;
        font-weight: 600;
      }
      .project-texts {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        p{
          font-size: 1.2rem;
          font-weight: 400;
        }

        a{
          color: var(--color-primary);
          width: 6rem;
        }
      }

      img {
        align-self: center;
        width: min(30rem, 100%);
        height: auto;
        border-radius: 10px;
        object-fit: cover;
      }

    }
    .deathstar{
      width: 4rem;
      position: absolute;
      top: -2rem;
      right: 2rem;
      transform: rotate(-15deg);
    }

    .go-all-projects {
      align-self: center;
      font-size: 1.5rem;
      text-decoration: underline;
      text-align: center;
    }

    @media (min-width: 1440px) {
      .project-detail {
        flex-direction: row;
        gap: 2rem;
        padding: 3rem;
        width: 100%;
        justify-content: space-between;

        h3 {
          font-size: 2rem;
        }

        img {
          width: min(25rem, 100%);
        }

        .project-texts {
          width: min(40rem, 100%);
        }
      }
    }
  }
</style>
