---
---

<button name="jedi book" class='green-book' role="button" aria-label="jedi book"> </button>
<slot />

<style lang='scss'>
  .green-book {
    display: flex;
    position: absolute;
    width: 0.5rem;
    height: 1.58rem;
    border-radius: 10%;
    border: 1px solid #a6ff9b;
    background: var(--color-quaternary);
    cursor: pointer;
    transition: all 0.2s ease;
    &:hover {
      background: #7aeeae;
      box-shadow: #ffffff 0px 0px 10px 0px;
    }
    &:nth-child(1) {
      top: 2.39rem;
      left: 5.45rem;
    }
    &:nth-child(5) {
      top: 0.39rem;
      right: 3rem;
    }
    &:nth-child(3) {
      bottom: 4.5rem;
      left: 7.8rem;
    }
    &:nth-child(7) {
      bottom: 6.47rem;
      right: 6rem;
    }
    &:nth-child(9) {
      bottom: 0.47rem;
      left: 4.2rem;
    }
  }
</style>
