---
interface Props {
  title: string;
  image: string;
  alt: string;
}

const {title, image, alt} = Astro.props
const slug = title.toLowerCase().replace(/ /g, '-')
---

<div class="project-card hidden">
  <a href={`/projects/${slug}`}>
    <h3>{title}</h3>
    <img src={image} alt={alt}>
  </a>
</div>


<style lang="scss">
  .project-card{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 11.875rem;
    height: 8.9375rem;
    border-radius: 0.5rem;
    z-index: 10;
    background-color: var(--color-background);
    box-shadow: var(--color-tertiary) 0 0 10rem 5rem;
    transition: opacity 0.3s ease-in-out;

    a{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      text-decoration: none;

      h3{
        font-size: 1.2rem;
        font-weight: 500;
        color: var(--color-text);
      }

      img {
        width: 176px;
        height: 100px;
        object-fit: cover;
        border-radius: 0 0 0.5rem 0.5rem;
      }
    }
  }
</style>