---
interface Props {
  technologies: string[]
}

const { technologies } = Astro.props
---

<ul>
  {
    technologies.map((tech) => {
      const slug = tech.toLowerCase().replace(' ', '-')
      return (
        <li>
          <a href={`/projects/tag/${slug}`}>
            <img src={`/images/${slug}.svg`} alt={tech} width="20" height="20"/>
          </a>
          <span>{tech}</span>
        </li>
      )
    })
  }
</ul>

<style lang='scss'>
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 1rem 1rem 0;
      a {
        background-color: var(--color-tech);
        width: 3rem;
        height: 3rem;
        border-radius: 0.5rem;
        padding: 0.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
        
        &:hover {
          box-shadow: var(--color-tech) 0 0 2rem;
          transform: scale(1.1);
        }
        

        img {
          width: 100%;
          height: auto;
          max-height: 100%;
        }
      }
      span {
        font-size: 0.75rem;
        margin-top: 0.25rem;
      }
    }
  }
</style>
