:root {
  /* --font-general: 'Poppins', sans-serif; */
  --font-general: "Poppins", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", Arial, sans-serif;
  --font-title: 'StarJedi', sans-serif;
  --color-primary: #FFC83C;
  --color-secondary: #EB294C;
  --color-tertiary: #3CC4FF;
  --color-quaternary: #3CFF5B;
  --color-text: #FFFFFF;
  --color-background: #071118;
  --color-bg-soft: #1c283d;
  --color-bg-dark: #040A0E;
  --color-tech: #1c283d;
} 
:root[data-theme='dark'],
:root[prefers-color-scheme='dark'] {
  --color-primary: #FFC83C;
  --color-secondary: #EB294C;
  --color-tertiary: #3CC4FF;
  --color-quaternary: #3CFF5B;
  --color-text: #FFFFFF;
  --color-background: #071118;
  --color-bg-soft: #1c283d;
  --color-bg-dark: #040A0E;
  --color-tech: #1c283d;
}
:root[data-theme='light'],
:root[prefers-color-scheme='light']  {
  --color-primary: #004b71;
  --color-secondary: #EB294C;
  --color-tertiary: #9E9D24;
  --color-quaternary: #689F38;
  --color-text: #000000;
  --color-background: #FFFFFF;
  --color-bg-soft: #c9f2f5;
  --color-bg-dark: #bfe7ec;
  --color-tech: #004b71;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  min-height: 100vh;
  background-color: var(--color-background);
}

@font-face {
  font-family: 'Poppins';
  src: url(./fonts/Poppins-Regular.woff2);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'StarJedi';
  src: url(./fonts/Starjedi.woff2);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
