:root {
  /* --font-general: 'Poppins', sans-serif; */
  --font-general: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
  --font-title: 'StarJedi', sans-serif;
  --color-primary: #ffc83c;
  --color-secondary: #eb294c;
  --color-tertiary: #3cc4ff;
  --color-quaternary: #3cff5b;
  --color-text: #ffffff;
  --color-background: #071118;
  --color-bg-soft: #1c283d;
  --color-bg-dark: #040a0e;
  --color-tech: #1c283d;
}
:root[data-theme='dark'],
:root[prefers-color-scheme='dark'] {
  --color-primary: #ffc83c;
  --color-secondary: #eb294c;
  --color-tertiary: #3cc4ff;
  --color-quaternary: #3cff5b;
  --color-text: #ffffff;
  --color-background: #071118;
  --color-background-gradient-dark: rgba(7, 17, 24, 1);
  --color-background-gradient-darker: rgba(23, 56, 79, 1);
  --color-bg-soft: #1c283d;
  --color-bg-dark: #040a0e;
  --color-tech: #1c283d;
  --parallax-background: url(images/sky.webp);
}
:root[data-theme='light'],
:root[prefers-color-scheme='light'] {
  --color-primary: #f5a623;
  --color-secondary: #d91e36;
  --color-tertiary: #1b69a3;
  --color-quaternary: #5bb25b;
  --color-text: #ffffff;
  --color-background: #1b69a3;
  --color-background-gradient-dark: rgb(30, 113, 172);
  --color-background-gradient-darker: rgb(21, 81, 127);
  --color-bg-soft: #c8d9eb;
  --color-bg-dark: #97a8c7;
  --color-tech: #1b69a3;
  --parallax-background: url(images/light-sky.webp);
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  min-height: 100vh;
  background-color: var(--color-background);
}

@font-face {
  font-family: 'Poppins';
  src: url(./fonts/Poppins-Regular.woff2);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'StarJedi';
  src: url(./fonts/Starjedi.woff2);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
