---
import SectionLayout from '@layouts/SectionLayout.astro';
import MainTitle from './MainTitle.astro';
import MyPicture from './MyPicture.astro';
import ScrollArrow from './ScrollArrow.astro';
import scrollArrowImg from '/images/deathstar-arrow.svg'

---

<SectionLayout title='Home'>
  <div class="home-container">
    <MainTitle title="Hello There"/>
    <MyPicture name="Jesús Molano" rol="Frontend Developer" image="/images/myself.webp"/>
    <ScrollArrow image={scrollArrowImg} />
  </div>
</SectionLayout>

<style lang="scss">
  .home-container {
    gap: 2rem;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
  }
  
</style>
