---
interface Props {
  name: string
  rol: string
  image: string
}

const { name, rol, image } = Astro.props
---

<div class='myself-container'>
  <p class='im'>I'm</p>
  <p class='name'>{name}</p>
  <span>{rol}</span>
  <div class='myself-background'>
    <div class='image'></div>
  </div>
</div>

<style lang='scss'>
  .myself-container {
    width: min(19rem, 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-weight: 900;
    animation: fade-in 1s ease-in-out forwards;
    @keyframes fade-in {
      0% {
        opacity: 0;
        transform: translateX(-1rem);
      }
      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }

    .im {
      font-size: 1.25rem;
      position: absolute;
      z-index: 1;
      bottom: 2.6rem;
      left: 1.5rem;
      color: var(--color-text);
    }
    .name {
      font-size: 1.875rem;
      position: absolute;
      z-index: 1;
      bottom: 0.6rem;
      left: 2.5rem;
      background: linear-gradient(
        90deg,
        var(--color-primary) 0%,
        var(--color-secondary) 100%
      );
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      -webkit-text-fill-color: transparent;

    }
    span {
      font-size: 1rem;
      color: var(--color-text);
      position: absolute;
      z-index: 1;
      bottom: -0.2rem;
      right: 2.5rem;
    }
    .myself-background {
      position: relative;
      display: flex;
      width: 15.125rem;
      height: 14.4375rem;
      background-color: var(--color-background);
      box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.25) ;
      border-radius: 3.125rem;
      .image {
        width: min(17.125rem, 100%);
        height: 100%;
        position: absolute;
        top: -3rem;
        left: -1.5rem;
        background-image: url('/images/myself_452x414.webp');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    }

    @media (min-width: 769px) {
      width: min(28rem, 100%);

      .im {
        font-size: 1.5rem;
        bottom: 4.2rem;
        left: 1.5rem;
      }
      .name {
        font-size: 2.375rem;
        bottom: 1.6rem;
        left: 2.5rem;
      }
      span {
        font-size: 1.25rem;
        bottom: 0.6rem;
        right: 2.5rem;
      }
      .myself-background {
        width: 18.125rem;
        height: 19.4375rem;
        image {
          width: min(21.125rem, 100%);
          height: auto;
          top: -3rem;
          left: -1.5rem;
        }
      }
    }
    @media (min-width: 1440px) {
      width: 80rem;
      justify-content: end;
      @keyframes slide-left {
        0% {
          opacity: 0;
          transform: translateX(-1rem);
        }
        100% {
          opacity: 1;
          transform: translateX(0);
        }
      }

      .im {
        font-size: 2rem;
        top: 4.2rem;
        left: 8.5rem;
        animation: slide-left 1s ease-in-out forwards;
      }
      .name {
        font-size: 4rem;
        top: 5.6rem;
        left: 8.5rem;
        animation: slide-left 1s ease-in-out forwards;
      }
      span {
        font-size: 2rem;
        top: 10rem;
        left: 16rem;
        animation: slide-left 1s ease-in-out forwards;
      }
      .myself-background {
        height: 25.4375rem;
        width: 26.125rem;
        margin: 5rem 10rem 0 0;
        animation: slide-right 1s ease-in-out forwards;
        .image {
          background-image: url('/images/myself.webp');
          width: min(27.125rem, 100%);
        }
        @keyframes slide-right {
          0% {
            opacity: 0;
            transform: translateX(1rem);
          }
          100% {
            opacity: 1;
            transform: translateX(0);
          }
        }
      }
    }
  }
</style>
