---
interface Props {
  name: string
  rol: string
}

const { name, rol } = Astro.props
---

<div class='myself-container'>
  <p class='im'>I'm</p>
  <p class='name'>{name}</p>
  <span class='rol'>{rol}</span>
</div>

<style lang='scss'>
  .myself-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    min-height: 15rem;
    bottom: 0rem;
    justify-content: center;
    font-weight: 900;
    animation: fade-in 1s ease-in-out forwards;
    z-index: 1;
    @keyframes fade-in {
      0% {
        opacity: 0;
        transform: translateX(-1rem);
      }
      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }

    .im {
      font-size: 1.25rem;
      line-height: 1rem;
      text-indent: 1rem;
      color: var(--color-text-alternative);
      text-shadow: var(--color-text) 0 0 10px;
    }
    .name {
      line-height: 2.2rem;
      font-size: 1.875rem;
      text-indent: 1rem;
      background: linear-gradient(90deg, #ffc83c 0%, #eb294c 100%);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      -webkit-text-fill-color: transparent;
    }
    .rol {
      line-height: 1rem;
      font-size: 1rem;
      text-indent: 6rem;
      color: var(--color-text-alternative);
      text-shadow: var(--color-text) 0 0 5px;
    }
    @media (min-width: 769px) {
      align-self: start;
      margin-left: 8rem;
      .im {
        text-indent: 0;
        font-size: 1.8rem;
        line-height: 1.8rem;
        animation: slide-left 1s ease-in-out forwards;
      }
      .name {
        font-size: 2.5rem;
        line-height: 2rem;
        animation: slide-left 1s ease-in-out forwards;
      }
      .rol {
        text-indent: 8.5rem;
        font-size: 1.2rem;
        line-height: 2rem;
        animation: slide-left 1s ease-in-out forwards;
      }
    }
    @media (min-width: 1440px) {
      @keyframes slide-left {
        0% {
          opacity: 0;
          transform: translateX(-1rem);
        }
        100% {
          opacity: 1;
          transform: translateX(0);
        }
      }

      .im {
        text-indent: 0;
        font-size: 2rem;
        line-height: 2rem;
        animation: slide-left 1s ease-in-out forwards;
      }
      .name {
        font-size: 4rem;
        line-height: 4rem;
        animation: slide-left 1s ease-in-out forwards;
      }
      .rol {
        text-indent: 12.5rem;
        font-size: 2rem;
        line-height: 2rem;
        animation: slide-left 1s ease-in-out forwards;
      }
    }
  }
</style>
