---
interface Props {
  name: string
  rol: string
}

const { name, rol } = Astro.props
---

<div class='myself-container'>
  <p class='im'>I'm</p>
  <p class='name'>{name}</p>
  <span>{rol}</span>
</div>

<style lang='scss'>
  .myself-container {
    width: min(19rem, 100%);
    display: flex;
    position: absolute;
    height: 15rem;
    bottom: 7rem;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    animation: fade-in 1s ease-in-out forwards;
    z-index: 1;
    @keyframes fade-in {
      0% {
        opacity: 0;
        transform: translateX(-1rem);
      }
      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }

    .im {
      font-size: 1.25rem;
      position: absolute;
      z-index: 1;
      bottom: 2.6rem;
      left: 2.5rem;
      color: var(--color-text);
    }
    .name {
      font-size: 1.875rem;
      position: absolute;
      z-index: 1;
      bottom: 0.7rem;
      left: 2.5rem;
      background: linear-gradient(
        90deg,
        var(--color-primary) 0%,
        var(--color-secondary) 100%
      );
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      -webkit-text-fill-color: transparent;
    }
    span {
      font-size: 1rem;
      color: var(--color-text);
      position: absolute;
      z-index: 1;
      bottom: 0rem;
      right: 3.5rem;
    }
    @media (min-width: 769px) {
      width: min(28rem, 100%);

      .im {
        font-size: 1.5rem;
        bottom: 4.2rem;
        left: 1.5rem;
      }
      .name {
        font-size: 2.375rem;
        bottom: 1.6rem;
        left: 2.5rem;
      }
      span {
        font-size: 1.25rem;
        bottom: 0.6rem;
        right: 2.5rem;
      }
    }
    @media (min-width: 1440px) {
      width: 80rem;
      justify-content: end;
      @keyframes slide-left {
        0% {
          opacity: 0;
          transform: translateX(-1rem);
        }
        100% {
          opacity: 1;
          transform: translateX(0);
        }
      }

      .im {
        font-size: 2rem;
        top: 4.2rem;
        left: 8.5rem;
        animation: slide-left 1s ease-in-out forwards;
      }
      .name {
        font-size: 4rem;
        top: 5.6rem;
        left: 8.5rem;
        animation: slide-left 1s ease-in-out forwards;
      }
      span {
        font-size: 2rem;
        top: 10rem;
        left: 16rem;
        animation: slide-left 1s ease-in-out forwards;
      }
    }
  }
</style>
