---
interface Props {
  image: string
}

const { image } = Astro.props
---

<div class='scroll-down'>
  <a href='#end-home'>
    <img src={image} alt='arrow' />
  </a>
</div>

<style lang='scss'>
  .scroll-down {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 33rem);

    // fade in
    animation: fade-in 1s ease-in-out forwards, scroll 1s infinite;
    @keyframes fade-in {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    @keyframes scroll {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(0.5rem);
      }
      100% {
        transform: translateY(0);
      }
    }

    a{
      img{
        height: 75px;
        width: 40px;
      }
    }
  }
</style>
