---
const links = [
  { title: 'Home', path: '/#' },
  { title: 'About me', path: '/#end-home' },
  { title: 'Archives', path: '/#end-about' },
  { title: 'Projects List', path: '/projects' },
  { title: 'Contact', path: '/#end-archives' },
]
---

<nav>
  <ul>
    {
      links.map(({ title, path }) => (
        <li>
          <a href={path}>{title}</a>
        </li>
      ))
    }
  </ul>
</nav>

<style lang='scss'>
  nav {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 6rem;
      width: 100%;
      gap: 2rem;

      li {
        a {
          color: var(--color-text);
          font-size: 1.5rem;
          text-decoration: none;
          transition: color 0.2s ease-in-out;
          &:hover {
            color: var(--color-tertiary);
          }
        }
      }
    }

    &.open {
      display: flex;
      top: 5rem;
      height: calc(100vh - 5rem);
      background: var(--color-background);
      backdrop-filter: blur(10px);
    }
  }
</style>
