---
import SableLaser from "../components/SableLaser.astro";
interface Props {
  title: string;
  color: string;
}

const { title, color } = Astro.props;
---

<div class="title-container">
  <h2>{title}</h2>
  <SableLaser color={color} />
</div>

<style lang="scss">
  .title-container {
    h2 {
      padding-left: 0.5rem;
      font-family: var(--font-title);
      font-size: 2rem;
    }
    @media (max-width: 258px) {
      h2 {
        font-size: 1.5rem;
      }
    }
    @media (min-width: 1440px) {
      h2 {
        font-size: 2.2rem;
      }
    }
  }
</style>
