---
import linkedinIcon from '/images/linkedin.svg'
import githubIcon from '/images/github.svg'
import twitterIcon from '/images/twitter.svg'

interface Props {
  direction: 'row' | 'column'
  width?: string
  showText?: boolean
}

const { direction, width = '100%', showText = false } = Astro.props

const socials = [
  {
    name: 'linkedin',
    url: 'https://www.linkedin.com/in/jesus-molano-perdomo/',
    icon: linkedinIcon,
  },
  {
    name: 'github',
    url: 'https://github.com/jesus-molano',
    icon: githubIcon,
  },
  {
    name: 'twitter',
    url: 'https://twitter.com/JessMolano5',
    icon: twitterIcon,
  },
]
---

<div class='social_networts'>
  {
    socials.map(({ name, url, icon }) => (
      <a href={url} target='_blank' rel='noopener noreferrer'>
        <img src={icon} alt={name} loading='lazy' />
        {showText && <span>{name}</span>}
      </a>
    ))
  }
</div>

<style lang='scss' define:vars={({ direction ,  width })}>
  .social_networts {
    z-index: 1;
    display: flex;
    flex-direction: var(--direction);
    align-items: center;
    gap: 1rem;
    a {
      padding: 0.1rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      text-decoration: none;
      img {
        width: var(--width);
        height: 100%;
      }
      span {
        text-transform: capitalize;
        color: var(--color-text);
      }
    }
  }
</style>
