---
import BaseLayout from "@layouts/BaseLayout.astro"

const projects = await Astro.glob('./*.md')
---


<BaseLayout title="Projects" >
  <h1>All projects</h1>
  <div>
    {
      projects.map(project => (
        <div>
          <a href={project.url}>{project.frontmatter.title}</a>
        </div>
      ))
    }
  </div>
</BaseLayout>