---
const links = [
  { title: 'Home', path: '/#' },
  { title: 'About me', path: '/#about' },
  { title: 'Technologies', path: '/#technologies' },
  { title: 'Last Project', path: '/#last-project' },
  { title: 'Projects List', path: '/projects' },
  { title: 'Contact', path: '/#contact' },
]
---
<nav>
  <ul>
    {
      links.map(({title, path}) => (
        <li>
          <a href={path}>{title}</a>
        </li>
      ))
    }
  </ul>
</nav>

<style lang="scss">
  nav {
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      list-style: none;
      gap: 1rem;
      li {
        a {
          text-decoration: none;
          color: var(--color-text);
        }
      }
    }
  }
</style>