---
const links = [
{ title: 'Home', path: '/#' },
{ title: 'About', path: '/#end-home' },
{ title: 'Projects', path: '/#end-about' },
{ title: 'Contact', path: '/#end-projects' },
]
---
<nav>
  <ul>
    {
      links.map(({title, path}) => (
        <li>
          <a href={path}>{title}</a>
        </li>
      ))
    }
  </ul>
</nav>

<style lang="scss">
  nav {
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
      gap: 1rem;
      li {
        a {
          text-decoration: none;
          color: var(--color-text);
        }
      }
    }
  }
</style>