---
import SocialNetworts from '@components/SocialNetworts.astro';
import FooterNav from './FooterNav.astro';
import astroIcon from '/images/astro.svg'
import typescriptIcon from '/images/typescript.svg'



const technologies = [
  {
    name: 'Astro',
    url: 'https://astro.build',
    icon: astroIcon,
  },
  {
    name: 'TypeScript',
    url: 'https://www.typescriptlang.org/',
    icon: typescriptIcon,
  },
]
---

<footer>
  <FooterNav />
  <SocialNetworts width="20px" />
  <p>
    This site is made with ❤️ and 
    {
      technologies.map(({ name, url, icon }) => (
        <a href={url} target='_blank' rel='noopener noreferrer'>
          <img src={icon} alt={name} loading="lazy" width={32} height={32} />
        </a>
      ))
    }
  </p>
</footer>

<style lang='scss' >
  footer {
    min-height: 5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: #050e13;
    font-size: 0.8rem;
    gap: 1rem;

    p {
      display: flex;
      align-items: center;
      text-align: end;
      a {
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        margin-inline: 0.2rem;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
</style>
