---
import SocialNetworts from '@components/SocialNetworts.astro'
import FooterNav from './FooterNav.astro'
import astroIcon from '/images/astro.svg'
import typescriptIcon from '/images/typescript.svg'

const technologies = [
  {
    name: 'Astro',
    url: 'https://astro.build',
    icon: astroIcon,
  },
  {
    name: 'TypeScript',
    url: 'https://www.typescriptlang.org/',
    icon: typescriptIcon,
  },
]
---

<footer>
  <div class='navigation'>
    <FooterNav />
    <SocialNetworts width='20px' direction='row' />
  </div>
  <p>
    This site is made with ❤️ and
    {
      technologies.map(({ name, url, icon }) => (
        <a href={url} target='_blank' rel='noopener noreferrer'>
          <img src={icon} alt={name} loading='lazy' width={32} height={32} />
        </a>
      ))
    }
  </p>
</footer>

<style lang='scss'>
  footer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding:4rem 1rem 1rem 1rem;
    font-size: 0.8rem;
    gap: 1rem;

    .navigation {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: center;
    }

    p {
      display: flex;
      align-items: center;
      width: min(100%, 15rem);
      font-size: 0.8rem;
      text-align: end;
      a {
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        margin-inline: 0.2rem;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
    @media (min-width: 1024px) {
      padding-inline: 5rem;
      min-height: 6rem;
      flex-direction: row;
      .navigation {
        align-items: flex-start;
      }
    }
    @media(min-width: 1440px) {
      width: min(1440px, 100%);
      margin: 0 auto;
    }
  }
</style>
