---
import SectionLayout from '@layouts/SectionLayout.astro'
import ContactForm from './ContactForm.astro'
import SocialNetworts from '@components/SocialNetworts.astro'

---

<SectionLayout title='Contact' sableColor='#EB294C'>
  <p>
    If you want to contact me for any work, questions, or just to chat, send me
    an email by filling out the form below or click on my social networks.
  </p>
  <ContactForm />
  <SocialNetworts />
</SectionLayout>
