---
import SectionLayout from '@layouts/SectionLayout.astro'
import SocialNetworts from '@components/SocialNetworts.astro'
import TranslucidCard from '@components/TranslucidCard.astro';
---

<SectionLayout id="contact" title='Contact' sableColor='#EB294C'>
  <div class='contact'>
    <p class='contact-text'>
      If you want to contact me for any work, questions, or just to chat, feel
      free to send me an
      <a href='mailto:dev.jesusmolano@gmail.com'>email</a>
      or  a message to one of my social networks. I will be happy to answer you as soon as I can.
    </p>
      <TranslucidCard>
        <SocialNetworts direction='row' showText={true} width='1.7rem' />
      </TranslucidCard>
      <img class="vader" src="/images/vader.svg" alt="darth vader" width="222" height="253">
  </div>
</SectionLayout>

<style lang='scss'>
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 1rem;
    .contact-text {
      a {
        color: var(--color-primary);
        font-weight: 900;
      }
    }
    .vader{
      filter: drop-shadow(0px 0px 10px var(--color-secondary));
    }

    @media (min-width: 769px) {
      .contact-text {
        align-self: flex-start;
      }
    }
  }
</style>
