---
import SectionLayout from '@layouts/SectionLayout.astro'
import SocialNetworts from '@components/SocialNetworts.astro'
---

<SectionLayout title='Contact' sableColor='#EB294C'>
  <div class='contact'>
    <p class='contact-text'>
      If you want to contact me for any work, questions, or just to chat, feel
      free to send me an
      <a href='mailto:dev.jesusmolano@gmail.com'>email</a>
      or  a message to one of my social networks. I will be happy to answer you as soon as I can.
    </p>
    <div class="hologram">
      <SocialNetworts direction='column' showText={true} width='1.6rem' />
      <img src="/images/hologram.svg" alt="hologram" width="240" height="262">
    </div>
  </div>
</SectionLayout>

<style lang='scss'>
  .contact {
    display: flex;
    flex-direction: column;
    position: relative;
    .contact-text {
      margin-bottom: 3rem;
      a {
        color: var(--color-primary);
        font-weight: 900;
      }
    }

    .hologram{
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      img{
        height: auto;
        width: min(8rem, 100%);
        top: 6rem;
      }
    }


    @media (min-width: 769px) {
      .contact-text {
        width: min(100%,800px);
      }
      .hologram{
      img{
        width: min(15rem, 100%);
      }
    }
    }
    @media (min-width: 1440px) {
      flex-direction: row;
      .contact-text {
        margin: 0;
      }
    }
  }
</style>
