---
import SectionLayout from '@layouts/SectionLayout.astro'
import SocialNetworts from '@components/SocialNetworts.astro'
---

<SectionLayout title='Contact' sableColor='#EB294C'>
  <p>
    If you want to contact me for any work, questions, or just to chat, feel
    free to send me an 
    <a href='mailto:dev.jesusmolano@gmail.com'>email</a> 
    or click on my social networks below.
  </p>
  <SocialNetworts direction="column" showText={true} width="1.6rem" />
</SectionLayout>

<style lang='scss'>
  p {
    a {
      color: #eb294c;
      font-weight: 900;
      font-size: 1rem;
    }
  }
</style>
