---
import linkedinIcon from '../../assets/images/icons/linkedin.svg'
import githubIcon from '../../assets/images/icons/github.svg'
import twitterIcon from '../../assets/images/icons/twitter.svg'

const socials = [
  {
    name: 'linkedin',
    url: 'https://www.linkedin.com/in/andres-rueda-0b0b3b1b3/',
    icon: linkedinIcon,
  },
  {
    name: 'github',
    url: 'https://github.com/jesus-molano',
    icon: githubIcon,
  },
  {
    name: 'twitter',
    url: 'https://twitter.com/JessMolano5',
    icon: twitterIcon,
  },
]
---


<div class="social_networts">
 <ul>
  {
    socials.map(({name, url, icon}) => (
      <li>
        <a href={url} target="_blank" rel="noopener noreferrer">
          <img src={icon} alt={name} />
        </a>
      </li>
    ))
  }
 </ul>
</div>