---
import linkedinIcon from '@/assets/images/icons/linkedin.svg'
import githubIcon from '@/assets/images/icons/github.svg'
import twitterIcon from '@/assets/images/icons/twitter.svg'
import destructorImg from '@/assets/images/contact/destructor.svg'

const socials = [
  {
    name: 'linkedin',
    url: 'https://www.linkedin.com/in/jesus-molano-perdomo/',
    icon: linkedinIcon,
  },
  {
    name: 'github',
    url: 'https://github.com/jesus-molano',
    icon: githubIcon,
  },
  {
    name: 'twitter',
    url: 'https://twitter.com/JessMolano5',
    icon: twitterIcon,
  },
]
---
<div class="social_networts">
 <ul>
  {
    socials.map(({name, url, icon}) => (
      <li>
        <a href={url} target="_blank" rel="noopener noreferrer">
          <img src={icon} alt={name} loading="lazy" />
        </a>
      </li>
    ))
  }
 </ul>
</div>

<style lang="scss">
  .social_networts {
    margin: 2rem auto 5rem;
    height: 8rem;
    width: min(21.375rem, 100%);
    background-image: url("../../assets/images/contact/destructor.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 4.6rem 2rem 2rem 2rem;
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
      gap: 1rem;
      li {
        a {
          padding: 0.1rem;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
</style>