---
import Header from '@components/Header/index.astro'
import Footer from '@components/Footer/index.astro'

type Props = {
  title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <link rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png' />
    <link rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png' />
    <link rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png' />
    <link rel='manifest' href='/site.webmanifest' />
    <link rel='mask-icon' href='/safari-pinned-tab.svg' color='#040a0e' />
    <meta name='msapplication-TileColor' content='#040a0e' />
    <meta name='theme-color' content='#040a0e' />
    <meta name='generator' content={Astro.generator} />
    <meta
      name='description'
      content='Personal web of Jesús Molano Perdomo. Frontend developer 💻'
    />
    <link rel='stylesheet' href='/base.css' />
    <title>{title} | Jesús Molano</title>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style lang='scss'>
  body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: var(--font-general);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: radial-gradient(
      40.89% 40.17% at 50% 50%,
      #263653 0%,
      #071118 100%
    );
    background-attachment: fixed;

    main {
      flex: 1;
      display: flex;
      flex-direction: column;
      max-width: 1440px;
      width: 100%;
      align-self: center;
    }
    @media (min-width: 769px) {
      main {
        font-size: 1.2rem;
      }
    }
    @media (min-width: 1440px) {
      background: radial-gradient(
        33.89% 40.17% at 50% 50%,
        #263653 0%,
        #071118 100%
      );
      background-attachment: fixed;
    }
  }
</style>
