<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
    <meta name="description" content="Personal web of Jesús Molano Perdomo. Frontend developer 💻">
		<title>Jesús Molano Website</title>
	</head>
	<body>
		<slot />
	</body>
</html>