---
import GoBack from '@components/GoBack.astro';
import BaseLayout from './BaseLayout.astro'

interface Props {
  title: string,
}

const { title, goBack } = Astro.props
---

<BaseLayout title={title}>
  <section>
    <GoBack  />
    <h1>{title}</h1>
    <slot />
  </section>
</BaseLayout>

<style lang='scss'>
  section {
    flex: 1;
    background: radial-gradient(
      62.89% 49.17% at 50% 50%,
      #182235 0%,
      #040a0e 100%
    );
    padding: 1rem;
    h1 {
      padding: 1rem 0;
    }
    
  }
</style>
