---
import type { ContentLayoutProps } from '@/types/main'
import SectionTitle from '../SectionTitle.astro'
import AboutCard from './AboutCard.astro'


const { title, cards } = Astro.props as ContentLayoutProps['about']
---

<section>
  <SectionTitle title={title} color="#3CC4FF" />
  {
    cards.map((card) => (
      <AboutCard text={card.text} url={card.url} alt={card.alt} />
    ))
  }
</section>
<div id="end-about"></div>

<style lang="scss">
  section {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 1rem;
    background: radial-gradient(
      62.89% 49.17% at 50% 50%,
      #182235 0%,
      #040a0e 100%
    );
  }
  #end-about {
    height: 5rem;
  }
</style>
