---
import SectionLayout from '@layouts/SectionLayout.astro'
import SectionTitle from '../SectionTitle.astro'
import AboutCard from './AboutCard.astro'
---

<SectionLayout title='About me' sableColor='#3CC4FF'>
  <div class='about-container'>
    <AboutCard image='/images/controller.svg' alt='videogames controller'>
      I’m a 27 years old young man from Tenerife🏖️ passionate about web
      development, video games and movies. I have been interested in the IT
      world since I was 16 and I love to tinker with computers and change my
      operating system like underpants.
    </AboutCard>
    <AboutCard image='/images/change-work.svg' alt='change work'>
      Not long ago my profession was military. I decided to make a drastic
      change and right now I'm finishing the higher cycle of web application
      design and learning on my own.
    </AboutCard>
    <AboutCard image='/images/dog.svg' alt='a little dog'>
      It was a difficult decision to leave behind good colleagues, experiences
      that mark you and a stable salary. But being with my family, my partner
      and my dog Alay is priceless.
    </AboutCard>
  </div>
</SectionLayout>

<style lang='scss'>
  .about-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    @media (min-width: 1440px) {
      flex-direction: row;
      align-items: flex-start;
      flex-wrap: wrap;
    }
  }
</style>
