---
import TranslucidCard from '@components/TranslucidCard.astro'
import SectionLayout from '@layouts/SectionLayout.astro'
import AboutCard from './AboutCard.astro'
---

<SectionLayout id='about' title='About me' sableColor='#3CC4FF'>
  <TranslucidCard>
    <div class='about-container'>
      <div class='description'>
        <p>
          I'm a 28 year old guy from Tenerife🏝️ passionate about web
          development, videogames and good cinema. I've always been interested
          in the IT world although some time ago I was dedicated to explosives,
          among other things, as a soldier🪖 in BZAPXVI in Las Palmas.
        </p>
        <p>
          I consider myself to be loyal, committed to what I set out to do and
          always give the best of myself. I love to keep learning new things and
          keep growing as a professional and as a person.
        </p>
      </div>
      <img
        src='/images/demolition-trooper.svg'
        alt='demolition trooper'
        width='222'
        height='253'
      />
    </div>
  </TranslucidCard>
</SectionLayout>

<style lang='scss'>
  .about-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    .description {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      width: min(100%, 700px);
    }
    img {
      flex: 1;
      filter: drop-shadow(var(--color-quaternary) 0px 0px 10px);
    }

    @media(min-width: 768px) {
      padding: 3rem 2rem;
    }
  }
</style>
