---
import SectionLayout from '@layouts/SectionLayout.astro'
import Library from './Library.astro'
---

<SectionLayout title='Archives' sableColor='#3CFF5B'>
  <div class='archives-text'>
    <p>
      Here in my "Jedi archives" you can see some of the projects I have made to learn and practice.
    </p>
    <p>
      You can click on the <span>green</span> zones or on “Go to projects" below.
    </p>
  </div>
  <Library />
  <a href='/projects'>Go to projects</a>
</SectionLayout>

<style lang='scss'>
  .archives-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    p {
      span {
        color: #3cff5b;
      }
    }
  }
  a {
    margin: 0 auto;
    font-weight: 900;
    font-size: 1.2rem;
    border-bottom: 3px solid var(--color-quaternary);
    color: var(--color-text);
    text-decoration: none;
    transition: all 0.3s ease;
    margin-bottom: 2rem;
    &:hover {
      border-bottom: 3px solid var(--color-tertiary);
      color: rgb(187, 185, 185);
    }
  }
</style>
